/* Стили левой панели */
.nav-panel__wrapper {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    z-index: 101;
}
.nav-panel__screen {
    width: 20px;
    transition: width 0.4s cubic-bezier(0.2,0,0,1) 0.2s, border-right 0.4s ease 0.4s;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 1px solid #3F7BD1;
}
.nav-panel__screen:hover {
    width: 220px;
    border-right: 1px solid #3FD17B;
}
.nav-panel__screen.show {
    width: 220px;
    border-right: 1px solid #3FD17B;
}

.nav-panel__button_show {
    all: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #3FD17B;
    background-color: #ffffff;
    color: #3FD17B;
    transition: background-color 0.2s ease, color 0.2s ease;
    position: absolute;
    right: -10px;
    top: 50%;
}
.nav-panel__button_show:hover {
    color: #ffffff;
    background-color: #3FD17B;
}

.nav-panel {
    height: calc(100vh - 50px);
    width: 100%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
}
.nav-panel_hidden {
    visibility: hidden;
}

.nav-panel a {
    text-decoration: none;
    color: #000000;
}

.nav-panel__header {
    width: 100%;
    height: 0;
    background-color: #3F7BD1;
}

.nav-panel__items {
    width: 100%;
    height: 100%;
}

.nav-panel__footer {
    width: 100%;
    height: 0;
    background-color: #3F7BD1;
}

.nav-panel__item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #cccccc;
    transition: background-color 0.4s ease;
}
.nav-panel__item.active {
    background-color: #eeeeee;
    color: #3F7BD1;
}
.nav-panel__item__text {
    font-size: 16px;
}
.nav-panel__screen:hover .nav-panel__item__svg {
    width: 20px;
}
.nav-panel__screen.show .nav-panel__item__svg {
    width: 20px;
}
.nav-panel__item__svg {
    width: 18px;
    padding-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.8s ease;
}
.icon{
    width: 100%;
    height: 100%;
    stroke: #000000;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}
.nav-panel__item.active .icon {
    animation: strok 2s reverse;
    stroke: #3F7BD1;
}
@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}
