/* Стили верхней панели */
.top-panel {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #3F7BD1;
}
.top-panel__logo {
    height: 36px;
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}
.top-panel a {
    text-decoration: none;
    color: #ffffff;
}
.top-panel__button {
    all: unset;
    cursor: pointer;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-right: 20px;
    color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.top-panel__button:hover {
    background-color: #ffffff;
    color: #3F7BD1;
}

.top-panel__button_green {
    background-color: #3FC16B;
}