html {
    font-size: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #121613;
    text-align: left;
 
    padding-top: 80px; 
    padding-right: 30px; 
    padding-left: 50px; 
    margin: 0;
    overflow-x: hidden;
    background-color: #cfcfcf;
}
.profile-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background-color: #f2f2f2;
    box-shadow: 0px 0px 4px 4px rgba(12,12,13,0.25);  
}
.vertical-col {
    width: 45%;
    min-width: 400px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.vertical-col article {
    width: 100%;
    padding-top: 5rem;
    margin: 1rem 0;
}
.profile-wrapper h1 {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    padding: 0.5rem 0;
    width: calc(50% + 2rem);
    background-color: #cdcddd;
    box-shadow: 0px 0px 5px 0px rgba(31,36,43,0.85);
    text-align: center;
}
.about {
    border: 1px solid #cdcddd;
    position: relative;
    width: 100%;
    min-width: 32rem;
    max-width: 36rem;
    padding: 1rem;
}
.table-about {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}
.table-about td {
    border-bottom: 1px solid #ced2d6;
}
.shop-add {
    border: 1px solid #cdcddd;
    position: relative;
    width: 50%;
    min-width: 32rem;
    max-width: 36rem;
    padding: 1rem;
}
.shop-choose {
    border: 1px solid #cdcddd;
    position: relative;
    width: 50%;
    min-width: 32rem;
    max-width: 36rem;
    padding: 1rem;
}
.form-button {
    width: 50%;
    margin: 0.5rem auto;
}
.submit-button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    
    text-align: center;
    padding: 0;
    background-color: #3FD17B;
    color: #ffffff;
}
.shop-add .form-button {
    margin-left: 0;
}
.shop-choose .form-button {
    margin-left: 0;
}
.select {
    width: 50%;
    margin-left: 0;
}

.textinput {
    width: calc(50% - 1rem);
    height: 2rem;
    font-size: 1rem;
    margin-top: 0.2rem;
    padding: 0;
}
.numberinput {
    width: calc(50% - 1rem);
    height: 2rem;
    font-size: 1rem;
    margin-top: 0.2rem;
    padding: 0;
}